.yt-scrollbar {
  scrollbar-width: thin; /* Firefox fallback */
  scrollbar-color: rgb(204 204 204 / 65%) transparent;
}

/* Chrome / Edge / Safari */
.yt-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.yt-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.yt-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 9999px;

  /* Keeps shape stable on hover */
  border: 2px solid transparent;
  background-clip: content-box;

  transition: background-color 120ms ease;
}

.yt-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.55);
}

.yt-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.7);
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 0.5;
  }

  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 450ms ease-out forwards;
}

@keyframes ripple-border {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.animate-ripple-border {
  animation: ripple-border 650ms ease-out forwards;
}
