@import 'tailwindcss';
@config "../tailwind.config.js";

@theme {
  --yt-screen: calc(100dvh - 30px);
  --yt-active: rgba(51, 36, 23, 0.949);
}
:root {
  font-family: 'Noto Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: 'Noto Sans';
}
